{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href=" {% static "/css/main.css" %}">
    <link rel="stylesheet" href=" {% static "/css/test.css" %}">
</head>
<body>
    <p>Importing styles from main.css</p>
    <h1>Start adding templates and css, js, img in the static folder we've got your back !</h1>
    <h3>Importing styles from test.css</h3>
</body>
</html>